/*--Start CSS Reset--*/
/*Box Sizing*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*Remove Default Stylings*/
* {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0;
}
/*Set Font Properties*/
* {
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
}
/*Smooth Jazz*/
* {
    scroll-behavior: smooth;
}
/*--End CSS Reset--*/

/*--Start Base Font Styles--*/
html {
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    font-size: 22px;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.3rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.8rem;
}
p {
    font-size: 1rem;
}
a {
    font-size: 1rem;
}
/*--End Base Font Styles--*/

/*--Start Header Styles (Desktop)--*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.136rem;
    padding: 0 0.455rem;
    border-bottom: 1px solid seashell;
    position: sticky;
}
#nav-logo {
    height: 2.273rem;
}
#nav-list {
    list-style: none;
    display: flex;
}
.nav-list-item {
    margin-left: 1rem;
}
.nav-link {
    color:seashell;
    text-decoration: none;
}
.nav-link:hover {
    color: white;
    text-decoration: underline;
}
.nav-link:active {
    color: lightslategray;
}
/*--End Header Styles (Desktop)--*/